@import 'tailwindcss';

@font-face {
    font-family: 'e-Ukraine';
    src: url('/fonts/e-Ukraine-Regular.otf') format('opentype');
    font-weight: 400;
}
@font-face {
    font-family: 'e-Ukraine';
    src: url('/fonts/e-Ukraine-Medium.otf') format('opentype');
    font-weight: 500;
}
@font-face {
    font-family: 'e-Ukraine';
    src: url('/fonts/e-Ukraine-Bold.otf') format('opentype');
    font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    font-family: 'e-Ukraine' !important;
}
body {
    overflow-x: hidden !important;
}
