@import 'tailwindcss';

@font-face {
    font-family: 'e-Ukraine';
    src: url('/fonts/e-Ukraine-Regular.otf') format('opentype');
    font-weight: 400;
}
@font-face {
    font-family: 'e-Ukraine';
    src: url('/fonts/e-Ukraine-Medium.otf') format('opentype');
    font-weight: 500;
}
@font-face {
    font-family: 'e-Ukraine';
    src: url('/fonts/e-Ukraine-Bold.otf') format('opentype');
    font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
td,
li,
input,
span {
    font-family: 'e-Ukraine' !important;
}
body {
    overflow-x: hidden !important;
}
.Table {
    border-radius: 33px;
    box-shadow: inset 0 0 0 calc(infinity * 1px) rgba(217, 217, 217, 0.2);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}